[package]
name = "netutils"
version = "0.1.0"
authors = ["Jeremy Soller <jackpot51@gmail.com>"]

[lib]
name = "netutils"
path = "src/lib/lib.rs"

[[bin]]
name = "dhcpd"
path = "src/dhcpd/main.rs"

[[bin]]
name = "dns"
path = "src/dns/main.rs"

[[bin]]
name = "httpd"
path = "src/httpd/main.rs"

[[bin]]
name = "irc"
path = "src/irc/main.rs"

[[bin]]
name = "nc"
path = "src/nc/main.rs"

[[bin]]
name = "ntp"
path = "src/ntp/main.rs"

[[bin]]
name = "telnetd"
path = "src/telnetd/main.rs"

[[bin]]
name = "wget"
path = "src/wget/main.rs"

[[bin]]
name = "whois"
path = "src/whois/main.rs"

[[bin]]
name = "ping"
path = "src/ping/main.rs"

[dependencies]
hyper-rustls = "0.6"
ntpclient = { git = "https://github.com/willem66745/ntpclient-rust" }
redox_event = { git = "https://gitlab.redox-os.org/redox-os/event.git" }
redox_syscall = "0.1"
termion = "1.5.1"
arg_parser = { git = "https://gitlab.redox-os.org/redox-os/arg-parser.git" }
extra = { git = "https://gitlab.redox-os.org/redox-os/libextra.git"}
pbr = { git = "https://github.com/a8m/pb" }
redox_termios = "0.1.1"
mio = { git = "https://gitlab.redox-os.org/redox-os/mio" }
tokio = { git = "https://gitlab.redox-os.org/redox-os/tokio" }
tokio-reactor = { git = "https://gitlab.redox-os.org/redox-os/tokio" }

[dependencies.hyper]
version = "0.10"
default-features = false

[target.'cfg(not(target_os = "redox"))'.dependencies]
libc = "0.2"
